<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Profil</title>
</head>
<body>
    
    <div class="container">
        <h1><strong>Parle nous un peu plus de toi</strong></h1>
        <p>Aides ton potentiel crush à mieux te connaître</p>
        <form action="next-page.html" method="post">

            <!-- Autres champs (taille, genre musical, nombre d'enfants, etc.) -->

            <label for="height">Taille :</label>
            <input type="text" id="height" name="height">

            <label for="musicGenre">Genre musical :</label>
            <select id="musicGenre" name="musicGenre" multiple>
                <option value="afrobeats">AfroBeats</option>
                <option value="amapiano">Amapiano</option>
                <!-- Ajoutez d'autres genres musicaux ici -->
            </select>

            <!-- Autres champs (nombre d'enfants, emploi, silhouette, passions, etc.) -->

            <button type="submit" class="continue-button">Continuer</button>
        </form>
    </div>
</body>
</html>