<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        .logo {
            text-decoration: none; /* Pour enlever le soulignement */
            color: white; /* Pour mettre la couleur du texte en blanc */
        }
    </style>
</head>
<body>
    <nav>
       <div class="logo"> <a href="index.html">SOULMATE</a></div>
        <ul>
            <li><a href="profile.html">Voir le profil</a></li>
            <li><a href="#">Se déconnecter</a></li>
        </ul>
    </nav>
    <header>
        <h1>Chat with Jane Doe</h1>
    </header>
    <main>
        <div class="chat-window">
            <div class="message received">
                <p>Hi there!</p>
                <span class="timestamp">10:00 AM</span>
            </div>
            <div class="message sent">
                <p>Hello! How are you?</p>
                <span class="timestamp">10:02 AM</span>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message...">
            <button class="send">Send</button>
        </div>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
