{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="container"><h1>Bienvenue sur notre site </h1>
        <span>
           
           <a href="{% url 'ins'%}"><p>S'inscrire?</p></a>
        </span>
        <p>Se connecter</p> <a href="{% url 'login' %}">✔✔✔</a>
    </div>
    
    <form action="{% url 'sea' %}" method="get" class="d-flex ml-3">
        <input type="form-control me-2" type="search" name="search" placeholder="rechercher un utilisateur">
        <button class=" btn btn-success ml-2 " type="submit" >search</button>
    </form> 
</body>
</html>
