{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <title> Acceuil G </title>
</head>
<body>
    <h3>login</h3>
    <h3>Voulez vous publier? </h3>

    <h1>Suggestions </h1>
    <a href="{% url 'sug'%}">Suggestions</a>

    <form action="{% url 'logout'%}" method="post">
        {% csrf_token %}
        {% csrf_token %}
        {% csrf_token %}
        <button type="submit">Se deconnecter</button>
    </form>
</body>
</html>
