{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <title>inscriptions</title>
</head>
<body>
    <h1>INSCRIPTIONS</h1>
    <div class="container">
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                {{ user_form.as_p}}
                {{profile_form.as_p }}
                <h1>interest</h1>
                {{ interest_form.as_p }}
                <button type="submit">S'inscrire</button>
                <input type="submit" value="sign up">
            </form>
        </div>
    </div>
</body>
</html>
